
extends ./layout.jade

block content
 div(class="panel-overlay")
  div(class="panel panel-right panel-cover")
   div(class="content-block")
      p content goes here ...
      p more content
 .navbar
  .navbar-inner
    .left.sliding
      a(href="/").back.link
        i.icon.icon-back
        span Back
    .center.sliding Clan Posts
    .right
      a(data-panel="right" class='open-panel link icon-only')
       i.icon.icon-bars
                    //- a(href="/settings").open-panel.link.icon-only 
        
 .pages.navbar-through
  .page(data-page="infinite-scroll")
    .page-content.infinite-scroll(data-distance="50")
      div(class='content-block-title' style='font-size:2.1em; color: blue') Dogpatch Explorers
      .list-block.center
        ul
          -for (i = 1; i <= 80; i++)
            li.item-content
              .item-inner
                div(class='item-title' style='margin:0 auto') 
                  img(src='http://lorempixel.com/600/600')
                  //- img(src="http://lorempixel.com/"Math.floor((Math.random() * 200) + 400)}"/"{Math.floor((Math.random() * 200) + 400)})
