
extends ./layout.jade

block content
  h1 CLANS
  p clan page

  a(href='/' class='btn btn-info') 	Back
  //- a(href='/users' class='btn btn-success') 	Users
  //- a(href='/users' class='btn btn-warning') 	Clans
  //- a(href='/users' class='btn btn-info') 	About