
extends ./layout.jade

block content
  h1 WELCOME PAGE
  p Let's build a awesome project together!

  a(href='/users' class='btn btn-info') 	Login/Signup Page
  a(href='/associates/#{associate.id}/show' class='btn btn-info') 	Show
  a(href='/associates/#{associate.id}/show' class='btn btn-info') 	Show
  a(href='/associates/#{associate.id}/show' class='btn btn-info') 	Show