doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    //- FRAMEWORK7 Metas
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, mini")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")
    title ¡Bøken!
    //- FRAMEWORK7 Stylesheets
    link(rel="stylesheet" href="/stylesheets/framework7.ios.css")
    link(rel="stylesheet" href="/stylesheets/framework7.ios.colors.min.css")
    //- link(rel="stylesheet" href="/stylesheets/framework7.ios.rtl.min.css")
    //- link(rel="stylesheet" href="/stylesheets/framework7.material.css")
    //- link(rel="stylesheet" href="/stylesheets/framework7.material.colors.min.css")
    //- link(rel="stylesheet" href="/stylesheets/framework7.material.rtl.min.css")
    //- custom CSS Stylesheet
    //- bootstrap
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.12.0/bootstrap-social.css")
      
    //- font awesome 
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
    
    //- jQuery
    script(src='https://code.jquery.com/jquery-2.2.3.js', integrity='sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=', crossorigin='anonymous')

    //- UploadCare
    script.
      UPLOADCARE_PUBLIC_KEY = '169d4b0493c6f366f014';
      UPLOADCARE_TABS = 'file camera';
      UPLOADCARE_IMAGES_ONLY = true;
    script(charset='utf-8', src='https://ucarecdn.com/widget/2.8.2/uploadcare/uploadcare.full.min.js')

    link(rel="stylesheet" href="/stylesheets/styles.css")
    block style
  body(style="background-image: url('http://i.imgur.com/q5oQYwA.png');background-size:cover")


        


    block content




    script(type="text/javascript" src="js/framework7.min.js")
    script(src='https://code.jquery.com/jquery-2.2.3.js', integrity='sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=', crossorigin='anonymous')


    block scripts
