doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    //- FRAMEWORK7 Metas
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, mini")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")
    title Framework7 Index
    //- FRAMEWORK7 Stylesheets
    link(rel="stylesheet" href="/stylesheets/framework7.ios.css")
    link(rel="stylesheet" href="/stylesheets/framework7.ios.colors.min.css")
    //- link(rel="stylesheet" href="/stylesheets/framework7.ios.rtl.min.css")
    //- link(rel="stylesheet" href="/stylesheets/framework7.material.css")
    //- link(rel="stylesheet" href="/stylesheets/framework7.material.colors.min.css")
    //- link(rel="stylesheet" href="/stylesheets/framework7.material.rtl.min.css")
    //- custom CSS Stylesheet
    //- bootstrap
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.12.0/bootstrap-social.css")
      
    //- font awesome 
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
    
    //- font for headers
    //- link(rel="stylesheet" href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css')

    link(rel="stylesheet" href="/stylesheets/styles.css")
    block style
  body(style="background-image: url('http://i.imgur.com/q5oQYwA.png');background-size:cover")
    block navbar

        div(class="toolbar toolbar-bottom" style="bottom:0px; opacity:0.7")
          div(class="toolbar-inner")
            a(href="/search" class="link external") Search
            a(href="/posts" class="link external") Post
            a(href="/users" class="link external") HOME
            a(href="/users/#{currentUser.id}" class="link external") User Page
            a(href="/clans" class="link external") Clan Page
        

    block content


    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")

    //- FRAMEWORK7 Script

    script(type="text/javascript" src="/js/framework7.min.js")
    

    block scripts
