extends ./layout.jade

block content
 .navbar
  .navbar-inner
    .left.sliding
      a(href="/").back.link
        i.icon.icon-back
        span Back
    .center.sliding Settings/Page for me to test stuff out
