body {
    background-image: url(http://i.imgur.com/aOTYJfh.png);
    /*background-image: url(http://i.imgur.com/q5oQYwA.png);*/
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
/*background-size: cover;
background-repeat: no-repeat;*/
  
}

#load {

}
#loadBack{
 position: fixed;
    width: 100%;
    left: 0;
    top: 0;
 z-index: 1;
}
#loadEl{
  
z-index: 0;
}

#landingComp {
  /*visibility: hidden;*/

}