.container {
/*background-size: cover;
background-repeat: no-repeat;*/ 
}

#load { 
  padding: 0;
}

/*mountain background*/
#loadBack {
  width: 100%;
}
#mountain {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

/*ellements on the landing page*/
#landingComp {
  width: 100%;
  visibility: hidden;
  /*display: flex;
  align-items: center;*/
}
#logoLand {
  margin-top: 40px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.pages.navbar-through {
visibility: hidden;
}