extends ../layout.jade

block content
  h1 This is the FAKE Clan index page
  p It shows top 10 clans with hightest scores
  
  hr
  h3 Show feeds 

  hr
  h3 Display top 10 clans
  ul
    each clan in clans
      li
        h4
          a(href="/clans/#{clan.id}")= clan.clan_name
        p= clan.intro
        form(action="/clans/#{clan.id}/user" method="POST")
          input(type="submit" value="join this clan")

  hr
  h3 Side Bar
  ul
    li
      a(href="/clans/new") create new clan
    li
      a(href="#") clan members (using react or new page for this)

  hr 
  h3 Nav Bar
  ul
    li 
      a(href="/users") home
    li
      a(href="/serach") search
    li
      a(href="/posts") post
    li
      a(href="/clans") clan
    li
      a(href="/users/#{currentUser.id}") user profile