extends ../layout.jade

block content
  script(src="/scripts/newPost.js")
  h1 This is the photo post fake layout page
  p Let's post some photos!
  form(action="/posts" method="POST")
    input(type='hidden', role='uploadcare-uploader', data-image-shrink='1080x1080 80%', data-crop='1:1' name="uuid")
    br
    lable location
    input(type="text" value="enter your name here" name="location")
    br
    label description
    input(type="text" value="enter your name here" name="name")
    br
    input(type="submit" value="submit post")

  hr
  
  h3 Nav Bar
  ul
    li 
      a(href="/users") home
    li
      a(href="/serach") search
    li
      a(href="/posts") post
    li
      a(href="/clans") clan
    li
      a(href="/users/#{currentUser.id}") user profile
