extends ../layout.jade

block content
  script(src="/scripts/newPost.js")
  h1 This is the photo post fake layout page
  p Let's make some posts!
  form(action="/photos" method="POST")
    input(type='hidden', role='uploadcare-uploader', data-image-shrink='1080x1080 80%', data-crop='1:1' name="post[url]")
    label(for='loc') Location name:
      input(type="text" value="" name="post[location]")
    label(for='desc') Description:
      input(type="text" value="" name="post[description]")
    input(type="submit" value="submit post")