extends ../layout.jade

block content
  h1 Update User Setting

  form(action="/users/#{currentUser.id}?_method=put" method="POST")
    img(src="#{currentUser.profilePicture}")
    br
    label profile picture
    button upload new picture
    br
    label display name
    input(type="text" value="#{currentUser.display_name}" name="updateUser[display_name]")
    br
    label email
    input(type="text" value="#{currentUser.email}" name="updateUser[email]")
    br
    label new password
    input(type="text" name="updateUser[password]")
    br

    input(type="submit" value="update profile")