
extends ./clanLayout.jade


//- block scripts
//-  script(type="text/javascript" src="js/clans.js")



block content
 div.views
  div(class='views view-main') 
     div(class="panel-overlay")
     div(class="panel panel-right panel-cover" style='background-color:#D7D0FF; opacity:0.7; width:70%; height:100%')
        div(class="content-block" style='margin: 130px 0; ')
          ul(style='list-style-type:none; margin:0 auto; font-size:1em ')
           li(style='color:black;') 
            Span CREATE NEW CLAN
             br
             br
             br
             form(action="/clans" method="POST" style='color:black')
               label Clan Name
               br
               input(type="text" name="clan[clan_name]")
               br
               label Specialty (Intro)
               br
               input(type="text" name="clan[intro]")
               br
               input(type="submit" value="create clan")
           br
           br 
           //- li
           //-   a(href="#" style='color:black') list clan members (newpage?)
     .navbar
      .navbar-inner
        .left.sliding
        .center.sliding Clan Index
        .right
          a(href="#" data-panel="right" class='open-panel link icon-only')
           i.icon.icon-bars
                        //- a(href="/settings").open-panel.link.icon-only 
            
    
     .page-content(style='padding-top: 75px')
      //- div(class='content-block-title' style='font-size:2.1em; color: blue') Dogpatch Explorers
      h3(style='text-align:center; color:crimson') Display top 10 clans
      ul(style='list-style-type:none')
       each clan in clans
        li
         h4
           a(href="/clans/#{clan.id}" class="link external")= clan.clan_name
         p= clan.intro
         form(action="/clans/#{clan.id}/user" method="POST")
           input(type="submit" value="join this clan")



      //- h1(style='text-align:center') Feeds:
        //- h1 This is the FAKE Clan index page
        //- p It shows top 10 clans with hightest scores
        //- hr
      .list-block.center
        ul
          -for (i = 1; i <= 10; i++)
            li.item-content
              .item-inner
                div(class='item-title' style='margin:0 auto') 
                  img(src='http://lorempixel.com/600/600')
                  //- img(src="http://lorempixel.com/"Math.floor((Math.random() * 200) + 400)}"/"{Math.floor((Math.random() * 200) + 400)})
