extends ./layout.jade

block content
  div.container-fluid
    h3 Existing User Login
    form(action="/auth/login" method="POST")
      label username or email
      input(type="text" name="user[username]")
      br
      label password
      input(type="password" name="user[password]")
      br
      input(type="submit" value="Login").btn.btn-default
      br

      button.btn.btn-primary
        span.fa.fa-facebook facebook login
        
      button.btn.btn-danger
        span.fa.fa-google google login
  
  hr

  div.container-fluid
    h3 New User Sign Up
    form(action="/users" method="POST")
      label username (unique)
      input(type="text" name="user[username]")
      br
      label email
      input(type="email" name="user[email]")
      br
      label password
      input(type="password" name="user[password]")
      br
      input(type="submit" value="Sign Up").btn.btn-default
      br


      button.btn.btn-primary
        span.fa.fa-facebook Sign up with facebook
        
      button.btn.btn-danger
        span.fa.fa-google Sign up with google
      
      p note: display name probably will leave blank. user can set it in profile setting. So keep the signup columns to minimum. 

