extends ./layout.jade

block content
  h1 Search Using #tag
  form(action="/search" method="POST")
    input(type="text" name="tag")
    input(type="submit" value="search")
  hr

  div(style="display:inline-flex").result-container
    each result in results
      div(style="margin:10px")
        a(href="/posts/#{result.p_id}")
          img(src=result.url style="height:100px; width:100px")


  hr

  
  h3 Nav Bar
  ul
    li 
      a(href="/users") home
    li
      a(href="/serach") search
    li
      a(href="/posts") post
    li
      a(href="/clans") clan
    li
      a(href="/users/#{currentUser.id}") user profile