extends ./layout.jade

block content
  h1 Search Using #tag
  form(action="")
    input(type="text" name="search[tag]")
    input(type="submit" value="search")


  hr
  
  h3 Nav Bar
  ul
    li 
      a(href="/users") home
    li
      a(href="/serach") search
    li
      a(href="/posts") post
    li
      a(href="/clans") clan
    li
      a(href="/users/#{currentUser.id}") user profile